.btn-animals{
    margin: 2px;
    
}
body{
    background-color: gray;
}
.btn-animals{
    background-color: cornflowerblue;
    
}
img{
    margin:10px;
    max-height: 200px;
    max-width: 250px;
    align-self: auto;
    border-style: solid;
    border-color: whitesmoke;
}
#animalForm{
    float: right;
}
hr{
    height: 10px;
}
#showHere{
    background:black;
    border-color: whitesmoke;
}